@import 'reset';
@import 'variables';
@import 'tablet';
@import 'mobile';

.container {
  position: relative;
  font-family: $primary-font;
  padding: 60px 0 0;
  z-index: 1;

  .packages {
    margin: auto;
    max-width: 408px;

    &--title {
      font-size: 24px;
      font-weight: $fw-extra-bold;
      color: $primary-color;
      text-align: center;
      margin-bottom: 26px;
    }

    &--number {
      display: flex;
      align-items: center;
      max-width: 344px;
      height: 40px;
      margin: auto;
      box-shadow: 10px 10px 6px $box-shadow-color;
      border: 1px solid $border-color;
      border-radius: 20px;
      background-color: $white-color;
      cursor: pointer;

      &--1,
      &--3,
      &--6 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 136px;
        font-size: 24px;
        font-weight: $fw-bold;
        color: $gray-color;

        &:hover {
          color: $primary-color;
          transition: color 0.3s ease;
        }
      }

      &--6 {
        margin-left: 1px;
      }

      .active {
        height: 46px;
        width: 176px;
        font-size: 30px;
        color: $white-color;
        background-color: $primary-color;
        box-shadow: 10px 10px 6px $box-shadow-color;
        border: 1px solid #6172b7;
        border-radius: 23px;
        z-index: 2;
        transition: none;
        pointer-events: none;
      }
    }

    &--mode {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 344px;
      margin: 14px auto 0;
      border: 1px solid $border-color;
      border-radius: 20px;
      background-color: $white-color;
      cursor: pointer;

      &--purchase,
      &--subscribe {
        width: 176px;
        height: 40px;
        font-size: 16px;
        font-weight: $fw-regular;
        color: $secondary-color;
        text-align: center;
        box-shadow: 10px 10px 6px $box-shadow-color;

        &:hover {
          color: $primary-color;
          transition: color 0.3s ease;
        }

        p {
          display: table-cell;
          width: inherit;
          height: inherit;
          vertical-align: middle;
        }
      }

      &--purchase {
        position: relative;
        left: -1px;
      }
      
      &--subscribe {
        position: relative;
        right: -1px;
        text-indent: -5px;
      }

      .active {
        width: 187px;
        color: $white-color;
        font-weight: $fw-semibold;
        background-color: $primary-color;
        box-shadow: 10px 10px 6px $box-shadow-color;
        border-radius: 19px;
        z-index: 2;
        transition: none;
        pointer-events: none;
      }
    }
  }

  .disclaimer {
    display: none;
    margin: 15px auto;
    padding: 16px;
    max-width: 344px;
    border-radius: 10px;
    background-color: #ffffffd3;

    label {
      font-size: 18px;
      color: $secondary-color;
      padding-left: 5px;
    }

    &--text {
      font-size: 12px;
      color: $gray-color;
      margin-top: 10px;

      span {
        color: $primary-color;
      }
    }

    input[type="checkbox"] {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      width: 24px;
      height: 24px;
      border-radius: 10%;
      border-style: solid;
      border-width: 0.1rem;
      border-color: $gray-color;
      cursor: pointer;
    }
  }

  .product {
    position: relative;
    margin: auto;
    max-width: 408px;
    text-align: center;
    margin-top: 48px;

    &--stamp {
      position: absolute;
      left: 54px;
      top: -28px;
    }

    &--image {
      max-width: 386px;
      max-height: 244px;
    }
  }

  .price {
    font-weight: $fw-bold;
    color: $secondary-color;
    text-align: center;
    margin-top: -26px;

    &--retail,
    &--savings,
    &--shipping {
      padding: 2px 0;

      input {
        font-size: 16px;
      }
    }

    &--main {
      input {
        font-size: 48px;
        color: $primary-color;
        text-align: center;
      }
    }

    &--retail {
      input {
        color: #e66349;
        text-decoration: line-through;
      }
    }

    &--savings {
      input {
        color: $green-color;
      }
    }

    input {
      font-family: $primary-font;
      font-weight: $fw-bold;
      border: none;
      outline: none;
      background-color: transparent;
      pointer-events: none;
    }
  }

  .cta {
    text-align: center;

    &--btn {
      font-family: $primary-font;
      max-width: 344px;
      width: 100%;
      height: 58px;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      color: $white-color;
      background-color: $green-color;
      border-radius: 29px;
      border: none;
      margin: 18px auto 47px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        filter: brightness(1.12);
        transition: all 0.3s ease;
      }
    }
  }

  .cta-disabled {
    pointer-events: none;
    background-color: $gray-color;
  }
  
  .cta-enabled {
    pointer-events: unset;
    background-color: $green-color;
  }

  .advantages {
    margin: auto;
    max-width: 408px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 14px;
    color: $secondary-color;

    &--manufactured,
    &--shipment {
      width: 125px;
    }

    &--shipment {
      img {
        transform: scale(1.13);
      }
    }

    img {
      height: 27px;
      margin-bottom: 8px;
    }
  }

  .guarantee {
    margin: 43px 20px 50px;
    text-align: center;

    &--order,
    &--refund,
    &--shipping {
      padding: 8px 0;
    }

    &--order {
      font-size: 18px;
      font-weight: $fw-extra-bold;
      color: $green-color;
    }

    &--refund {
      font-size: 18px;
      font-weight: $fw-semibold;
      color: $secondary-color;
    }

    &--shipping {
      font-size: 14px;
      color: $gray-color;
    }
  }

  .display-none {
    display: none;
  }
}

.background {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &--main,
  &--left,
  &--right {
    position: absolute;
  }

  &--main {
    background-image: url(../img/fixed_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 175%;
  }

  &--left {
    width: 355px;
    top: -16px;
    left: -177px;
  }
  
  &--right {
    width: 307px;
    top: 82px;
    right: -116px;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(0deg, hsl(0deg, 0%, 100%) 0%, hsla(0deg, 0%, 100%, 0) 37%);
  }
}