@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700;800&display=swap');

$primary-font:'Assistant', sans-serif;
$primary-color: #3a61a0;
$secondary-color: #45516d;
$white-color: #fff;
$green-color: #7fb457;
$gray-color:#9a9b9c;
$box-shadow-color: #ffffff29;
$border-color: #9da4bc;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;